/* Add this to your main CSS file */

.grid {
    position: relative;

    display: flex;
    overflow: scroll;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;


  }
  
  .grid-row {
    display: flex;

  }
  
  .grid-cell {
    box-sizing: border-box;
    cursor: pointer;
  }



  .dot-row {
    display: flex;
    align-items: center;
  }

  .dots {
    position: absolute;
    display: flex;
    gap: 30px;
    align-items: center;
    z-index: 2; /* Ensure it's above other elements */
  }


    .dot {
        transition: transform 0.2s; /* Smooth transition for scaling */
    }
    
    .dot-highlighted {
        transform: scale(1.5); /* Enlarge the dot for highlighting */
    }

  .cell {
    position: absolute;
  }


  .controls {
    position: fixed;
    display: flex;
    gap: 10px;
    align-items: center;
    z-index: 2; /* Ensure it's above other elements */
    
  }





  .layers-container {
    width: 100%;
    padding: 0;

    :is(li) {
      list-style: none;
    }

    :is(li + li) {
      margin-top: 0.5em;
    }
  }

  .layers-bar {
    position: fixed;
    display: flex;
    gap: 10px;
    align-items: flex-end;
    justify-content: flex-start;
    
    bottom: 10px;
    right: 10px;
    z-index: 1000; /* Ensure it's above other elements */
  }

 

.toolbar {
  position: fixed;
  top: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000; /* Ensure it's above other elements */
}

.toggle-layers-button {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1000; /* Ensure it's above other elements */
}


.layers-panel {
  position: fixed;
  bottom: 1em;
  right: 1em;
  display: flex;
  flex-direction: column-reverse;
  gap: 0.5em;
  padding: 1em;
  background: #f0f0f0;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000; /* Ensure it's above other elements */
}

.drag-handle {
  cursor: move;
  color: black;
}

.layers-panel-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.add-layer-button {
width: 100%;
}

  .color-palette {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000; /* Ensure it's above other elements */
    height: 20em;
    padding: 1em;
    overflow: hidden;

  }

  .visibility-button {
    width: 2em;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;

  }


  .palette-color-button {
    width: 2em;
    height: 2em;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }

  .add-color-button {
    width: 2em;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .colors-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    width: 15em;
    gap: 0.5em;

  }

