/* Add this to your main CSS file */

.grid {
    position: relative;

    display: flex;
    overflow: scroll;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;

  }
  
  .grid-row {
    display: flex;

  }
  
  .grid-cell {
    box-sizing: border-box;
    cursor: pointer;
  }



  .dot-row {
    display: flex;
    align-items: center;
  }

  .dots {
    position: absolute;
    display: flex;
    gap: 30px;
    align-items: center;
    z-index: 2; /* Ensure it's above other elements */
  }


    .dot {
        transition: transform 0.2s; /* Smooth transition for scaling */
    }
    
    .dot-highlighted {
        transform: scale(1.5); /* Enlarge the dot for highlighting */
    }

  .cell {
    position: absolute;
  }


  .controls {
    position: absolute;
    display: flex;
    gap: 10px;
    align-items: center;
    z-index: 2; /* Ensure it's above other elements */
    
  }





  .visible-button {
    margin: 0px;
    padding: 0px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: #f0f0f0;
  }

  .hidden-button {
    margin: 0px;
    padding: 0px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: black;
  }


  .remove-button {
    margin: 0px;
    padding: 0px;
  }

  .layers-button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
  }

  .layers-bar {
    position: absolute;
    display: flex;
    gap: 10px;
    align-items: flex-end;
    justify-content: flex-start;
    
    bottom: 10px;
    right: 10px;
    z-index: 1000; /* Ensure it's above other elements */
  }

  .selected-layer-button {
    background: white;
    color: black;
    scale: 1.1;
  }

  .layer-button {
    background: black;
  }

  .layer-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  
  }


.toolbar {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000; /* Ensure it's above other elements */
}


  .color-palette {
    display: flex;
    flex-direction: row;
    gap: 10px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 1000; /* Ensure it's above other elements */
  }